    svg.radial-progress {
    height: auto;
    max-width: 180px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
    }
    
    svg.radial-progress circle {
        fill: rgba(0, 0, 0, 0);
        stroke: rgb(0, 0, 0);
        stroke-dashoffset: 219.91148575129; 
        stroke-width: 5;
    }



    .radial-circle-1 svg.radial-progress circle{
        stroke: #f00cdd;
    }
    .radial-circle-2 svg.radial-progress circle{
        stroke: #ffd207;
    }
    .radial-circle-3 svg.radial-progress circle{
        stroke: #3d9602;
    }
    .radial-circle-4 svg.radial-progress circle{
        stroke: #06daff;
    }
    .radial-circle-5 svg.radial-progress circle{
        stroke: #ff0644;
    }
    .radial-circle-6 svg.radial-progress circle{
        stroke: #ffb006;
    }






    
    svg.radial-progress circle.incomplete { opacity: 0.25; }
    
    svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
    
    svg.radial-progress text {
        fill: rgb(0, 0, 0);
        text-anchor: middle;
    }